<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= 'The Simpsons | ' + @title %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">The Simpsons</a></h1>
      <h2>A well-known collection of items</h2>
    </hgroup>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <footer>
    <p><small>Brought to you by <a href="http://codeandbeyond.org">Code && Beyond</a>.</small></p>
  </footer>
</body>
</html>
